{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="h-32 flex items-center justify-center mt-8">
    <h1 class="mb-4 text-5xl font-extrabold tracking-tigh text-stone-900">Learn more about <span class="text-red-600">CO<sub>2</sub></span> emissions.</h1>

</section>

{% comment %} TODO add Breadcrumb to easy navigation {% endcomment %}

<section class="my-20">
    <video class="w-3/5 m-auto" controls>
        <source src="{% static 'video/co2-impact.mp4' %}" type="video/mp4">
        Looks like your browser does not support the video tag.
    </video>

    <p class="italic w-3/5 m-auto">*Video by <a href="https://www.youtube.com/@PlanetNutshell" target="blank" class="underline">Planet Nutshell</a>.</p>
</section>

<section class="flex justify-between w-2/3 align-middle m-auto mt-40">
    <img src={% static 'img/co2-impact.svg' %} class="max-h-80 mr-32" />
    <article class="h-fit m-auto">
        <h1 class="text-3xl font-semibold pb-6 pl-3">Impact of CO<sub>2</sub> on our life</h1>
        <p class="h-fit text-lg">
            CO<sub>2</sub> absorbs and emits infrared radiation trapping heat and this is 
            the core reason for climate change. Extreme weather, 
            food supply disruptions, and increased wildfires are other effects of 
            climate change caused by high CO<sub>2</sub> and other greenhouse gases.
        </p>
    </article>
</section>

<section class="flex justify-between w-2/3 align-middle m-auto mt-40">
    <article class="h-fit m-auto">
        <h1 class="text-3xl font-semibold pb-6 pl-3">Sources of global CO<sub>2</sub> emissions</h1>
        <p class="h-fit text-lg">
            About 90 per cent of the world's carbon emissions comes from the burning of fossil fuels – mainly for electricity, heat and transport. 
        </p>
        <p class="h-fit text-lg mt-4">
            In 2022, most of the world's fossil fuel carbon emissions came from coal (40 per cent), oil (32 per cent), natural gas (21 per cent), cement (5 per cent) and flaring and other smaller sources (2 per cent).
        </p>
    </article>

    <img src={% static 'img/bike.svg' %} class="max-h-80 ml-32" />
</section>

<section class="flex justify-between w-2/3 align-middle m-auto mt-40">
    <img src={% static 'img/plants.svg' %} class="max-h-72 mr-32" />

    <article class="h-fit m-auto">
        <h1 class="text-3xl font-semibold pb-6 pl-3">How can you reduce CO<sub>2</sub> emissions?</h1>
        <ul class="list-disc ml-3 h-fit text-lg">
            <li class="my-1">Tap into renewable energy sources</li>
            <li class="my-1">Plant a tree</li>
            <li class="my-1">Commit to sustainable mobility</li>
            <li class="my-1">Stop buying water in plastic</li>
        </ul>
    </article>
</section>



<footer class="bg-green-200 dark:bg-gray-900 mt-40">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{% url 'main:index' %}" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="{% static 'img/logo.svg' %}" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">EcoTrace</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-stone-700 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="{% url 'main:index' %}" class="hover:underline me-4 md:me-6">Home Page</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Quiz</a>
                </li>
                <li>
                    <a href="https://github.com/NikitaArd" target="blank" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-stone-200">© 2024 Nikita Smolenskyi. Some info about rights.</span>
    </div>
</footer>
{% endblock content %}